<div class = "center-block">
	<h4 class="text-center"><%="#{@msg}"%></h4>
	<table class="table table-bordered table-striped">
		<tr>
			<td>
				Username
			</td>
			<td>
				Name
			</td>
			<td>
				Email
			</td>
		</tr>
		<tr>
			<td>
			<%=@user.username%>
			</td>
			<td>
			<%=@user.name%>
			</td>
			<td>
			<%=@user.email%>
			</td>
		</tr>
		</table>
<!-- 		<table class="table table-bordered table-striped">
			<tr>
				<th>
					Your Posts
				</th>
			</tr>
			<%#@question.each do |t|%>
			<tr>
				<td>
				<%#=t.problem%>
				</td>
				<%#end%>
			</tr>
			</table>
			<table class="table table-bordered table-striped">
				<tr>
					<th>
						The Post id
					</th>
					<th>
						Your Comments
					</th>
				</tr>
					<%#@answer.each do |t|%>
				<tr>
					<td>
					<%#=t.question_id%>
					</td>
					<td>
					<%#=t.solution%>
					</td>
				<%#end%>
			</table>
			<table class="table table-bordered table-striped">
				<tr>
					<th>
						Your Likes
					</th>
				</tr>
				<tr>
					<td>
					</td>
				</tr>
			</table> -->

</div>