<h1 class="text-center">Log in</h1><br>
	<h4 class="text-center"><%="#{@msg}"%></h4>
	<div class="center-block">
		<form action="/login" method="post">
			<input type="text" placeholder="Email" name="email" class="center-block"><br>
			<input type="password" placeholder="Password" name="password" class="center-block"><br>
			<button type="submit" value="Log in" class="center-block btn btn-default">Log in</button>
		</form>
	</div>