<h1 class="text-center">Sign Up</h1>
	<div class="text-center">
		<form action="/signup" method="post">
			<input type="text" placeholder="Username" name="user[username]" class="text-center"><br>
			<input type="text" placeholder="Name" name="user[name]" class="text-center"><br>
			<input type="text" placeholder="Email" name="user[email]" class="text-center"><br>
			<input type="password" placeholder="Password" name="user[password]" class="text-center"><br>
			<input type="submit" value="Sign Up" class="btn btn-default">
		</form>
	</div>

