<h1 class="text-center">Create A Post!</h1>


		<form action="/post/new" method="post">
			<input type="text" placeholder="Your Post!" name="post" class="form-control center-block">
					<button type="submit" value="post" class="center-block btn btn-default">Post!
					</button>

		</form>
