<h1 class="text-center">Edit Your Post!</h1>
	<form action="/post/edit/<%=@post.id%>" method="post" class="text-center">
		<input type="text" value="<%=@ph%>" name="editor" class="form-control center-block">
			<button type="submit" value="Edit" class="center-block btn btn-default">Edit!
			</button>
			</form>